node_modules

/.cache
/build
/public/build
.env
cypress.env.json
/test-results/
/playwright-report/
/e2e/playwright/.cache/
storageState.json
.idea/
.stylelintcache
.sst.config*
e2e/.auth
playwright/.auth/user.json
.sst.config.*