.card {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 30px 80px 30px;
    /*grid-template-rows: auto;*/
    /*grid-template-rows: 1fr 4fr 1fr;*/
    gap: 15px 15px;
    grid-template-areas:
            "topLeft . topRight"
            "main main main"
            "bottomLeft . bottomRight";
}

.gridTitle {
    grid-area: main;
    align-self: center;
    justify-self: center;
}

.gridTitleText {
    text-align: center;
    text-shadow: black 2px 2px 10px;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: rem(23);
    color: var(--mantine-color-white);
    background: linear-gradient(
            0deg,
            rgba(134, 142, 150, 0.1) 0%,
            rgba(134, 142, 150, 0.3) 25%,
            rgba(134, 142, 150, 0.3) 75%,
            rgba(134, 142, 150, 0.1) 100%
    );
}

.gridMeIn {
    grid-area: bottomLeft;
    justify-self: start;
    align-self: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.gridCount {
    grid-area: topRight;
    pointer-events: none;
    justify-self: end;;
}

.gridRace {
    grid-area: topLeft;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.gridCreator {
    grid-area: bottomRight;
    opacity: 0.8;
    justify-self: end;
    align-self: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}