# dependencies
node_modules

# keep sharp
!stacks/layers/sharp/nodejs/node_modules

# sst
.sst
.build
.dist
dist

# misc
.DS_Store

# local env files
.env*.local

yarn-error.log
cdk.context.json
.swn
.swo
.swp

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
.cache

.envrc
