/** TODO: fix ligth - dark schema */

.control {
    display: flex;
    justify-content: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    text-decoration: none;
    color: var(--mantine-color-black);
    font-size: var(--mantine-font-size-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.active {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-6);
    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
    /*


    backgroundColor: theme.fn.variant({
        variant: 'light',
        color: theme.primaryColor,
      }).background,
      color: theme.fn.variant({ variant: 'light', color: theme.primaryColor })
        .color,
    },
     */


}


.controlMobile {
    display: block;
    justify-content: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    text-decoration: none;
    color: var(--mantine-color-black);
    font-size: var(--mantine-font-size-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}